*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    height: 100%;
    font-size: 62.5%;
}


body {
    height: 100%;
    font-family: "Consolas", monospace;
    color: #333;
    background-color: #1d1f21;
}


nav {
    display: flex;
    padding: 0 0.5rem;
    background-color: #c5c8c6;
}


nav a {
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1f21;
    padding: 0.4rem 0.5rem 0.2rem 0.5rem;
    outline: none;
}

nav a:hover,
nav a:focus {
    color: #eee;
    background-color: #009688;
}


input[type="file"] {
    position: absolute;
    left: -100rem;
}


main {
    position: relative;
    display: flex;
    height: calc(100% - 20px);
    overflow: hidden;
}


main textarea {
    width: 100%;
    padding: 1rem;
    font: normal 1.6rem/1.6rem "Consolas", monospace;
    color: #eee;
    background-color: transparent;
    border: 0;
    resize: none;
    outline: none;
}


aside {
    display: flex;
    position: absolute;
    top: 6rem;
    right: 0;
    bottom: 4rem;
    width: 30rem;
}


aside > div {
    position: relative;
    width: 100%;
}


section {
    display: block;
    width: 100%;
    color: #eee;
    will-change: transform;
    transition: transform 200ms ease;
    transform-origin: top left;
}

section.unshown {
    transform: scale(0);
}

#translation {
    background-color: rgba(0, 131, 143, 0.1);
}

#stack {
    position: absolute;
    top: 0;
    bottom: 50%;
    width: 100%;
    background-color: rgba(46, 125, 50, 0.1);
}

#variables {
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 100%;
    background-color: rgba(156, 39, 176, 0.1);
}

#popup {
    position: relative;
    width: 30rem;
    background-color: rgba(216, 67, 21, 0.1);
    transform-origin: center center;
}

#popup.error {
    background-color: rgba(244, 67, 54, 0.1);
}


section h3 {
    padding: 0.5rem 1.5rem 0.3rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
}

#translation h3 {
    background-color: #00838f;
}

#stack h3 {
    background-color: #2e7d32;
}

#variables h3 {
    background-color: #9c27b0;
}

#popup h3 {
    background-color: #d84315;
}

#popup.error h3 {
    background-color: #f44336;
}


section ul {
    list-style: none;
    padding: 1rem 0;
}


section ul li {
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-align: center;
}

section ul li[data-index] {
    position: relative;
}

section ul li[data-index]:before {
    content: attr(data-index);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2.5rem;
    background-color: #ddd;
    font-size: 1.2rem;
    color: #333;
}

section ul li.highlight {
    color: #333;
    background-color: white;
}


.hidden {
    display: none !important;
}


#popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 2rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}


#popup p {
    font-size: 1.4rem;
    text-align: center;
    padding: 1.5rem;
}


#popup span {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2rem;
    cursor: pointer;
    opacity: 0.75;
}

#popup span:hover {
    opacity: 1;
}


#popup form {
    padding: 1.5rem;
}


#popup form p {
    text-align: left;
    padding: 0;
}


#popup form input {
    width: 100%;
    font: normal 1.4rem/1 "Consolas", monospace;
    color: white;
    padding: 0.5rem 0.8rem;
    border: 0;
    border-bottom: 1px solid white;
    background-color: transparent;
    outline: none;
}
